* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
}

.header-img {
  width: 100%;
  object-fit: contain;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 600px;
  height: 100vh;
}

.menu-container {
  width: 100%;
  padding: 0 2em 0 2em;
  height: 100%;
}

.menu-item-container {
  transition: all 0.3s ease;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item-img {
  display: flex;
  align-items: center;
}

.menu-item-img {
  font-size: 70px;
  margin-right: 0.5em;
}

.menu-item-info {
  margin-left: 1em;
}

.menu-item-name,
.menu-item-price {
  font-weight: 700;
  color: #000000;
}

.menu-item-name {
  margin-bottom: 0.2em;
}

.menu-item-ingredients {
  color: #8b8b8b;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.menu-item-price {
  margin-top: 0.3em;
}

/***** your order area *******/

.order-confirmation-container {
  width: 90%;
}

.your-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.your-order-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.your-order-text,
.your-order-item-name {
  font-size: 1.5rem;
}

.your-order-item-price {
  font-weight: 700;
  font-size: 1.1rem;
}

.complete-order-btn {
  width: 100%;
  height: 60px;
}

button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #16db99;
  color: #ffffff;
  font-weight: 700;
}

button:hover {
  background-color: #ef2466;
}

.remove-btn {
  margin-left: 0.5em;
  font-size: 0.8rem;
  color: #bbbbbb;
  font-weight: 700;
}

.remove-btn:hover {
  color: red;
  cursor: pointer;
}

.payment-confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.payment-confirmation {
  margin-top: 2em;
  text-align: center;
  background-color: #ecfdf5;
  color: #065f46;
  height: 75px;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 10px;
}

.total-price {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.total-price-text {
  font-size: 1.6rem;
}

.price {
  font-size: 1.3rem;
  font-weight: 700;
}

.divider-line-container {
  width: 100%;
}

.total-price-divider-line {
  border: 1px solid #393333;
  width: 100%;
}

.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/**** payment screen component *****/

.payment-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 524.24px;
}

.payment-screen-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em 0 2em;
}

input {
  transition: all 0.3s ease;
  width: 100%;
  height: 71.3px;
  border: 1.3px solid #757575;
  margin-bottom: 1em;
  color: #757575;
  padding: 0 1em 0 1em;
  font-size: 1.2rem;
}

input:hover {
  transform: scale(1.1);
}

.payment-screen-header-text {
  font-size: 1.3rem;
}

.payment-screen-pay-btn {
  margin-top: 2em;
  width: 100%;
  height: 71.3px;
}

.loading-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.submitting-order-text {
  font-size: 2rem;
  margin-bottom: 0;
}


